@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-gray-900: #222;
  --color-gray-600: #7A7A7A;
  --color-gray-200: #BCBCBC;
  --color-gray-100: #E6E6E6;
  --color-background: #F6F5FC;

  --color-green-500: #51CA73;

  --color-primary-dark: #3346F0;
  --color-primary-main: #5061FC;
  --color-primary-light: #6674F4;
  --color-primary-lighter: #E0E3FF;

  --color-danger-dark: #F63131;
  --color-danger-main: #FC5050;
  --color-danger-light: #F97171;

  --animate-load-round: load-round 1.7s infinite ease;

  --font-sora: "Sora", sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes load-round {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    transform: rotate(0deg)
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    transform: rotate(360deg)
  }
}

html,
body {
  @apply bg-background text-base font-sora;
  color-scheme: light;
}
